<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="rapporter.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

<style>
    body {
    margin-left: 50px;
    margin-right: 50px;
        font-family: "Roboto", sans-serif;
        font-size: .75em;
    }
    th, td {
        padding: 5px;        
        border: 0px solid gray;
        margin: 0;
    }
    .header {
        font-size: .70em;
    }
    .mytable {
        border: 2px solid;
        border-collapse: collapse;        
        margin-top: 10px;
    }
    .mytable tr:nth-of-type(odd) {
        background: #f5f5f5;
    }

    .tableheader {
        background-color: #cbd400 !important;
    }
    .subtableheader {
        background-color: #dbe5f1 !important;
        font-weight: bold;
    }

</style>

<table width="100%"><tr><td align="center">

    <table width="90%" border="0">
        <tr>
            <td align="left" width="20%">
                <img height="100px" src="http://sblogg-test.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="center" width="60%">
                <h1>Arbeidsbeskrivelse - {{Tiltak}}</h1>
                <h3>{{Fornavn}} {{Etternavn}}</h3>
                <h4>Entreprenør: {{Entreprenør.Navn}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kontrakt: {{KontraktProsjekt}}</h4>
            </td>
            <td align="right" width="20%">
            </td>
        </tr>
    </table>



    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Opplysninger om oppdraget:</b></td>
            <td colspan=2 align="right"><b>Tilgjengelig fra: {{Dato}}</b></td>
        </tr>
        <tr>
            <td>Skogeier (lev.-int.nr):</td><td colspan=3>{{LevNr}} - {{Fornavn}} {{Etternavn}}</td>
        </tr>
        <tr>
            <td>Driftsansvarlig:</td><td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>Generelt om oppdraget:</td><td colspan=3>{{GenereltOmOppdr}}</td>
        </tr>
        <tr>
            <td>Miljøstandard:</td><td>{{Miljostandard}}</td>
            <td>Planlagt volum:</td><td>{{PlanlAvvirkVol}} m&#179;</td>
        </tr>
        <tr>
            <td>Eiendomsgrenser:</td><td>{{Eiendomsgrense}}</td>
            <td>Apteringsinstruksjon:</td><td>{{Apteringsinstruksjon}}</td>
        </tr>
        <tr>
            <td>Velteplass:</td><td>{{Velteplass}}</td>
            <td>Graving:</td><td>{{Skiltplan}}</td>
        </tr>
        <tr>
            <td>Avlessing:</td><td>{{Avlessing}}</td>
            <td>Basveg(er):</td><td>{{Basveg}}</td>
        </tr>
        <tr>
            <td>Skiltplan:</td><td>{{Skiltplan}}</td>
            <td>Sporsletting:</td><td>{{Sporsletting}}</td>
        </tr>
        <tr>
            <td>Kontaktperson veg:</td><td colspan=3>{{KontaktVeg}}</td>            
        </tr>

    </table>

    <p>Merkebånd fargekoder: Miljø - Skravert bånd i hvitt/rødt. Grenser - Rød. Basveg - Blå</p>


    
    <!-- DELOMRÅDE/BESTAND TØMMERDRIFT -->
    {{#tiltakTømmerdrift}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="25%"><b>Delområde/bestand:</b></td>            
            <td><b>{{Navn}}</b></td>
        </tr>
        <tr><td width="25%">Hogstform:</td><td>{{Hogstform}}</td></tr>
        <tr><td width="25%">Driftsareal:</td><td>{{Areal}}</td></tr>
        <tr><td width="25%">Driftstekn. forhold:</td><td>{{DrifttekForh}}</td></tr>
        <tr class="subtableheader"><td width="25%">Hensyn</td><td>Kommentar</td></tr>
        {{#hensyn}}
        <tr><td width="25%">{{TypeHensyn}}</td><td>{{Kommentar}}</td></tr>
        {{/hensyn}}
    </table>
    {{/tiltakTømmerdrift}}

    <!-- DELOMRÅDE/BESTAND TØMMERKJØP -->
    {{#tiltakTømmerkjøp}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="25%"><b>Delområde/bestand:</b></td>            
            <td>{{Navn}}</td>
        </tr>
        <tr><td width="25%">Hogstform:</td><td>{{Hogstform}}</td></tr>
        <tr><td width="25%">Driftsareal:</td><td>{{Areal}}</td></tr>
        <tr><td width="25%">Driftstekn. forhold:</td><td>{{DrifttekForh}}</td></tr>
        <tr class="subtableheader"><td width="25%">Hensyn</td><td>Kommentar</td></tr>
        {{#hensyn}}
        <tr><td width="25%">{{TypeHensyn}}</td><td>{{Kommentar}}</td></tr>
        {{/hensyn}}
    </table>
    {{/tiltakTømmerkjøp}}


    <!-- TØMMERUTTAK -->
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=3><b>Tømmeruttak:</b></td>            
        </tr>
        <tr class="subtableheader">
            <td>Sortiment</td>
            <td>Foreslått kjøper</td>
            <td>Lengde/merknad</td>
        </tr>
        {{#sortiment}}
        <tr>
            <td>{{SortNavn}}</td>
            <td>{{Kjoper}}</td>
            <td>{{LengdeMerknad}}</td>
        </tr>
        {{/sortiment}}
    </table>
    



    </td></tr></table>


    <figure class="samepage">
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;"} -->
      <img class="map" src="{{oversiktskart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3B%22%7D" alt="" >
      <figcaption>Oversiktskart {{Navn}}</figcaption>
    </figure>


</body>
</html>
