<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="rapporter.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
th, td {
    padding: 5px;        
    border: 0px solid gray;
    height: 23px;
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.samepage {
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.gridtable {
    margin-top: 20px;
    border-collapse: collapse;
}
.gridtable th, .gridtable td {
    border: 1px solid black;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    background-color: #cbd400 !important;
}
.subtableheader {
    background-color: #dbe5f1 !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
</style>


    <table width="100%" border="0">
        <tr>
            <td align="left" width="20%">
                <img height="100px" src="http://sblogg-prd.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="center" width="60%">
                <h1>Job description - Planting</h1>
                <h3>{{Navn}}</h3>
                <h4>Contractor: {{EntrepKultur}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contract: {{KontraktProsjekt}}</h4>
            </td>
            <td align="right" width="20%">
            </td>
        </tr>
    </table>



    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Information about the contract:</b></td>
            <td colspan=2 align="right"><b>Available from: {{Dato}}</b></td>
        </tr>
        <tr>
            <td>Forest owner (lev.-int.nr):</td><td colspan=3>{{LevNr}} - {{Fornavn}} {{Etternavn}}</td>
        </tr>
        <tr>
            <td>Operation manager:</td><td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>About:</td><td colspan=3>{{GenereltOmOppdr}}</td>
        </tr>
        <tr>
            <td>Planned number of plants:</td><td colspan=3>{{SumPlPlanl}}</td>
        </tr>
        <tr>
            <td>Area marked:</td><td colspan=3>{{Oppmerket}}</td>
        </tr>
    </table>



    
    <!-- DELOMRÅDE/BESTAND TØMMERDRIFT -->
    {{#tiltakPlanting}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="50%"><b>Subarea/site:</b></td>            
            <td><b>{{TiltakNavn}}</b></td>
        </tr>
        <tr><td>Operation type:</td><td>{{TypPl}}</td></tr>
        <tr><td>Area:</td><td>{{Areal}}</td></tr>
        <tr><td>Soil preparation:</td><td>{{Markberedt}}</td></tr>
        <tr><td>Planned number of plants:</td><td>{{AntPlPlanl}}</td></tr>        
        <tr><td>Total number of plants per da after action:</td><td>{{PlanlAntPlPrDaa}}</td></tr>        
        <tr><td>Planting distance:</td><td>{{Planteavstand}} m between plants</td></tr>        
        <tr><td>Plants per 50m2:</td><td>{{Planteavstand50}}</td></tr>        
        <tr><td>Remarks:</td><td>{{Merknad}}</td></tr>        
    </table>
    {{/tiltakPlanting}}

    <br>

    <figure class="samepage">
        <h3>Overview {{Navn}}</h3>
        <!-- extra={"{{Tiltak}}WMS": "OID={{OID}}"} -->
        <img class="map" src="{{oversiktskart}}&layername=Rapporter{{Tiltak}}&extra=%7B%22{{Tiltak}}WMS%22%3A%20%22OID%3D{{OID}}%22%7D" alt="" />      
    </figure>


    {{#tiltakPlanting}}
    <figure class="samepage">
      <h3>Subarea/site {{TiltakNavn}}</h3>
      <!-- extra={"{{Tiltak}}WMS": "OID={{OID}}&DID={{DID}}"} -->
      <img class="map" src="{{detaljkart}}&layername=Rapporter{{Tiltak}}&extra=%7B%22{{Tiltak}}WMS%22%3A%20%22OID%3D{{OID}}%26DID%3D{{DID}}%22%7D" alt="" />      
    </figure>
    {{/tiltakPlanting}}


    <div class="samepage">

        <table width="100%" class="gridtable">
            <tr class="tableheader">
                <td><b>Receiving inspection</b></td>   
                <td></td>         
            </tr>
            <tr>
                <td width="35%">Reference number</td>
                <td align="center"></td>
            </tr>
            <tr>
                <td>The plants are moist green and free of mechanical damage</td>
                <td align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
            <tr>
                <td>The plants are transported covered, stored shaded and watered when needed?</td>
                <td align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
        </table>

        <table width="100%" class="gridtable">
            <tr class="tableheader">
                <td colspan="6"><b>Internal control</b></td>            
            </tr>
            <tr>
                <td width="35%">Number of plants on the site?</td>
                <td colspan="5" align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
            <tr>
                <td>Plant space ok?</td>
                <td colspan="5" align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
            <tr>
                <td>Planting depth?</td>
                <td colspan="5" align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
            <tr>
                <td>Waste removed?</td>
                <td colspan="5" align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
            <tr>
                <td>Planned acreage planted?</td>
                <td colspan="5" align="center">Yes&nbsp;&nbsp;&nbsp;&nbsp;No</td>
            </tr>
            <tr>
                <td colspan="6" align="center">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6"><i>5 measurements < 10 decare, 8 measurements > 10 decare</i></td>                                
            </tr>
            <tr>
                <td>Plants per 50 m2</td>                
                <td>Site 1</td>                
                <td>Site 2</td>                
                <td>Site 3</td>                
                <td>Site 4</td>                
                <td>Site 5</td>                
            </tr>
            <tr>
                <td>Measurement 1</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 2</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 3</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 4</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 5</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 6</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 7</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Measurement 8</td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td><b>Average</b></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td>Multiplied by</td>                
                <td>20</td>                
                <td>20</td>                
                <td>20</td>                
                <td>20</td>                
                <td>20</td>                
            </tr>
            <tr>
                <td><b>Number of plants pr decare:</b></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
                <td></td>                
            </tr>
            <tr>
                <td><b>Date / signature</b></td>                
                <td colspan="6"></td>                
            </tr>
        </table>

    </div>


</body>
</html>
