<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="rapporter.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

<style>
    body {
    margin-left: 50px;
    margin-right: 50px;
        font-family: "Roboto", sans-serif;
        font-size: .75em;
    }
    th, td {
        padding: 5px;        
        border: 0px solid gray;
        margin: 0;
    }
    .header {
        font-size: .70em;
    }
    .mytable {
        border: 2px solid;
        border-collapse: collapse;        
        margin-top: 10px;
    }
    .mytable tr:nth-of-type(odd) {
        background: #f5f5f5;
    }

    .tableheader {
        background-color: #cbd400 !important;
    }
    .subtableheader {
        background-color: #dbe5f1 !important;
        font-weight: bold;
    }
    .map {

       display: block;
       max-width:500px;
       max-height:700px;
       width: auto;
       height: auto;        
       margin: 20px;
       /* height:700px;
        max-width:500px;
        width: expression(this.width > 500 ? 500: true);*/
    }

</style>

<table width="100%"><tr><td align="center">

    <table width="90%" border="0">
        <tr>
            <td align="left" width="20%">
                <img height="100px" src="http://sblogg-test.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="center" width="60%">
                <h1>Job description - Advance clearence (cleaning before harvesting)</h1>
                <h3>{{Navn}}</h3>
                <h4>Contractor: {{Entreprenør.Navn}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contract: {{KontraktProsjekt}}</h4>
            </td>
            <td align="right" width="20%">
            </td>
        </tr>
    </table>



    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Information about the contract:</b></td>
            <td colspan=2 align="right"><b>Available from: {{Dato}}</b></td>
        </tr>
        <tr>
            <td>Forest owner (lev.-int.nr):</td><td colspan=3>{{LevNr}} - {{Fornavn}} {{Etternavn}}</td>
        </tr>
        <tr>
            <td>Operation manager:</td><td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>About:</td><td colspan=3>{{GenereltOmOppdr}}</td>
        </tr>
        <tr>
            <td>Area marked:</td><td colspan=3>{{Oppmerket}}</td>
        </tr>
        <tr>
            <td>Environmental considerations:</td><td colspan=3>{{ForhRyddMiljohensyn}}</td>
        </tr>
        <tr>
            <td>Stump Height:</td><td colspan=3>{{ForhRyddStubbehoyde}}</td>
        </tr>
        <tr>
            <td>Comment on capercaille day habitats and courting grounds:</td><td colspan=3>{{ForhRyddStorfugl}}</td>
        </tr>
    </table>



    
    <!-- DELOMRÅDE/BESTAND FORHÅNDSRYDDING -->
    {{#tiltakForhåndsrydding}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="50%"><b>Subarea/site:</b></td>            
            <td><b>{{TiltakNavn}}</b></td>
        </tr>
        <tr><td>Planned area:</td><td>{{Areal}}</td></tr>
        <tr><td>Max diameter:</td><td>{{MaksDiamStammeUttak}}</td></tr>
        <tr><td>Comment:</td><td>{{Merknad}}</td></tr>        
    </table>
    {{/tiltakForhåndsrydding}}

    <br>

    <figure>
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;"} -->
      <img class="map" src="{{oversiktskart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3B%22%7D" alt="" >
      <figcaption>Overview {{Navn}}</figcaption>
    </figure>


    {{#tiltakForhåndsrydding}}
    <figure>
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;Tiltak:\"DID\" = 1234;"} -->
      <img class="map" src="{{detaljkart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3BTiltak%3A%5C%22DID%5C%22%20%3D%20{{DID}}%3B%22%7D" alt="" >
      <figcaption>{{TiltakNavn}}</figcaption>
    </figure>
    {{/tiltakForhåndsrydding}}



    </td></tr></table>


</body>
</html>
