<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
    body {
    margin-left: 50px;
    margin-right: 50px;
        font-family: "Roboto", sans-serif;
        font-size: .85em;
    }
    th, td {
        padding: 5px;        
        border: 0px solid gray;
        margin: 0;
    }
    .header {
        font-size: .70em;
    }
    .mytable {
        border: 2px solid;
        border-collapse: collapse;        
        margin-top: 10px;
    }
    .mytable tr:nth-of-type(odd) {
        background: #f5f5f5;
    }

    .tableheader {
        background-color: #cbd400 !important;
    }
    .subtableheader {
        background-color: #dbe5f1;
    }
    .map {

       display: block;
       max-width:500px;
       max-height:700px;
       width: auto;
       height: auto;        
       padding-top: 20px;
       margin: 20px;
       /* height:700px;
        max-width:500px;
        width: expression(this.width > 500 ? 500: true);*/
    }
</style>

<table width="100%"><tr><td align="center">

    <table width="90%" border="0">
        <tr>
            <td align="left" width="100px">
                <img height="100px" src="http://sblogg-test.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="left" class="header">
                <b>SB SKOG AS</b><br/>
                ---<br/>
                Bankkonto: 6164 05 41163<br/>
                Org. nr: NO 876 685 582 MVA <br/>
                firmapost@sbskog.no<br/>
                Tlf.: 46833333<br/>
                Postboks 500, Sentrum<br/>
                3504 Hønefoss
            </td>
            <td align="right" valign="top" width="60%">
                <h1>Sluttrapport - {{Tiltak}}</h1>
                <h3>{{Fornavn}} {{Etternavn}}</h3>
                <h4>Entreprenør: {{Entreprenør.Navn}} | Kontrakt: {{KontraktProsjekt}}</h4>
            </td>
        </tr>
    </table>

    <table width="90%" border="0">
        <tr>
            <td>
Til {{Fornavn}} {{Etternavn}},<br/>
Skogsdriften på din eiendom er nå avsluttet. Skogsdriften er gjennomført for å optimalisere tømmerverdiene. Gjeldende
miljøstandard, lover og forskrifter er fulgt.<br/>
Oppgjør for tømmer, virkesavregning, vil komme etter hvert som tømmeret blir transportert inn og innmålt hos industri.
            </td>
        </tr>
    </table>

    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Opplysninger om oppdraget:</b></td>
            <td colspan=2 align="right"><b>Oppdragsdato: {{RegDato}}</b></td>
        </tr>
        <tr>
            <td>Skogeier:</td><td colspan=3>{{Fornavn}} {{Etternavn}} {{LevNr}}-{{Internnummer}}</td>
        </tr>
        <tr>
            <td>Driftsansvarlig:</td>
            <td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>Entreprenør:</td><td>{{Entreprenør.Navn}}</td>
            <td align="right">Kontrakt:</td><td>{{KontraktProsjekt}}</td>            
        </tr>
        <tr>
            <td>Planlagt volum:</td><td>{{PlanlAvvirkVol}}</td>
            <td align="right">Ansvalig sporsletting:</td><td>{{Sporsletting}}</td>            
        </tr>
    </table>

    <p>For din skogsdrift er følgende forhold registrert og forutsatt tatt hensyn til:</p>


    
    <!-- DELOMRÅDE/BESTAND -->
    {{#tiltakTømmerdrift}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="33%"><b>Delområde/bestand:</b></td>            
            <td>{{TiltakNavn}}</td>
        </tr>
        <tr><td>Hogstform:</td><td>{{Hogstform}}</td></tr>
        <tr><td>Driftsareal:</td><td>{{Areal}}</td></tr>        
        <tr class="subtableheader"><td width="25%">Hensyn</td><td>Kommentar</td></tr>
        {{#hensyn}}
        <tr><td>{{TypeHensyn}}</td><td>{{Kommentar}}</td></tr>
        {{/hensyn}}
    </table>
    {{/tiltakTømmerdrift}}


    <!-- SORTIMENT -->
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2><b>Sortiments- og kjøperoversikt. Tømmeruttaket vil fremgå av virkesavregningene.</b></td>            
        </tr>
        <tr class="subtableheader">
            <td width="33%">Sortiment</td>
            <td>Foreslått kjøper</td>
        </tr>
        {{#sortiment}}
        <tr>
            <td>{{SortNavn}}</td>
            <td>{{Kjoper}}</td>            
        </tr>
        {{/sortiment}}    
    </table>


    <!-- AVVIK -->
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2><b>Registrerte avvik av entreprenør</b></td>            
        </tr>
        <tr class="subtableheader">
            <td width="33%">Type</td>
            <td>Utbedres innen</td>
        </tr>
        {{#avvik}}
        <tr>
            <td>{{Type}}</td>
            <td>{{Utbedres}}</td>            
        </tr>
        {{/avvik}}    
    </table>


    

    <figure class="samepage">
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;"} -->
      <img class="map" src="{{oversiktskart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3B%22%7D" alt="" >
      <figcaption>Overview {{Navn}}</figcaption>
    </figure>


    {{#tiltakTømmerdrift}}
    <figure class="samepage">
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;Tiltak:\"DID\" = 1234;"} -->
      <img class="map" src="{{detaljkart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3BTiltak%3A%5C%22DID%5C%22%20%3D%20{{DID}}%3B%22%7D" alt="" >
      <figcaption>{{TiltakNavn}}</figcaption>
    </figure>
    {{/tiltakTømmerdrift}}

<table width="90%" border="0">
        <tr>
            <td>
<br/><br/>
Be gjerne om tilbud og tjenester du ønsker utført! Besøk oss gjerne på vår hjemmeside www.sbskog.no.<br/><br/>
Husk at for mange investeringer i skogbruket kan utgiftene dekkes med bruk av avsatte skogfondsmidler der man kan
oppnå skattefordeler. Sjekk tilskuddsordninger i din kommune!
<br/><br/>
SB SKOG AS takker for oppdraget!
<br/><br/>
<br/><br/>
Med vennlig hilsen<br/>
{{Planlegger.Navn}}<br/>
SB SKOG AS            
            </td>
        </tr>
    </table>


    </td></tr></table>


</body>
</html>
